<!doctype html>
<head>
{% load static %}
   <title>Tabs</title>
   <link rel="stylesheet" href="{% static '/css/foundation.css' %}">
   <script src="{% static '/js/vendor/jquery.js' %}"></script>
   <script src="{% static '/js/vendor/foundation.min.js' %}"></script>
</head>
<body>
<h2>Tabs Example</h2>
{% if files %}
<ul class="tabs" data-tabs id="tabs_example">
  {% for file in files %}
    {% if forloop.first %}
      <li class="tabs-title is-active"><a href="#tab{{ forloop.counter }}">File {{ forloop.counter }}</a></li>
    {% else %}
      <li class="tabs-title"><a href="#tab{{ forloop.counter }}">File {{ forloop.counter }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="tabs-content" data-tabs-content="tabs_example">
  {% for file in files %}
    {% if forloop.first %}
      <div class="tabs-panel is-active" id="tab{{ forloop.counter }}">
        {{ file }}
      </div>
    {% else %}
      <div class="tabs-panel" id="tab{{ forloop.counter }}">
        {{ file }}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% else %}
  ADD SOME FILES DUMBASS
{% endif %}
<script>
   $(document).ready(function() {
      $(document).foundation();
   })
</script>
</body>
</html>
